#messages {
  max-height: 25em;
  overflow: auto;
}

md-dialog-container {
  width: 60%;
  margin: 0 auto;
}

textarea {
  resize: none;
}

.myMessage,
.otherMessage {
  width: 80%;
  max-width: 800px;
}

.myMessage {
  margin-left: auto;
  margin-right: 0.5em;
}

.otherMessage {
  margin-left: 0.5em;
}


/* Username and timestamp of messages */

.myMessage>p:nth-child(1),
.otherMessage>p:nth-child(1),
.myMessage p:nth-child(2),
.otherMessage>p:nth-child(2) {
  color: #bdbdbd;
  padding: 0;
  margin: 0;
  font-size: 0.8em;
}


/* Content of messages */

.myMessage>p:nth-child(3),
.otherMessage>p:nth-child(3) {
  border-radius: 5px;
  box-shadow: #B3B3B3 1px 1px 1px;
  margin-top: 0;
  padding: 0.5em;
  white-space: pre-line;
}

.myMessage>p:nth-child(3) {
  color: white;
  background-color: #03A9F4;
}

.otherMessage>p:nth-child(3) {
  background-color: #EEE;
}
