<div class="margin-top" fxLayout="row" fxLayoutAlign="center center">
  <md-card fxFlex="70%" fxFlex.xs="100%" fxFlex.sm="80%">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <!-- Rooms -->
      <div fxFlex="45%">
        <div fxLayout="column">
          <h3 md-subheader>Rooms</h3>
          <md-divider></md-divider>
          <md-nav-list>
            <a *ngFor="let room of rooms; let i = index" (click)="onJoinRoom(room.name);false">
              <md-list-item>
                <md-icon md-list-avatar>weekend</md-icon>
                <p md-line>{{ room.name }}</p>
                <p md-line>{{ room.users }} {{ (room.users === 1) ? "user" : "users" }}</p>
              </md-list-item>
            </a>
          </md-nav-list>
          <div fxLayout="row">
            <md-input-container fxFlex="70%">
              <input md-input type="text" [(ngModel)]="roomName" (keydown.enter)="onAddRoom()" placeholder="Room name" />
            </md-input-container>
            <div fxFlex="30%">
              <button md-raised-button (click)="onAddRoom()" color="primary">Add Room</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Private messages -->
      <div fxFlex="45%">
        <div fxLayout="column">
          <h3 md-subheader>Private messages</h3>
          <md-divider></md-divider>
          <md-nav-list>
            <a href="#">
              <md-list-item>
                <md-icon md-list-avatar>message</md-icon>
                <p md-line>Jenkins</p>
                <p md-line>{{ getDate() }}</p>
              </md-list-item>
            </a>
          </md-nav-list>
          <button md-raised-button (click)="onNewPrivMsg()" color="primary">New private message</button>
        </div>
      </div>
    </div>
  </md-card>
</div>
